@{
    ViewData["Title"] = "Home Page";
}
<style>
    .nomargin { margin:0 !important }
    .lh2 { line-height:2.4 }
    .logo { width:200px }
    .btn-lg { padding:8px 40px }
</style>
<br />
<br />
<div class="text-center">
    <img class="logo" src="~/Images/logo.jpg" />
</div>
<br />
<br />
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-2 text-center">
        <a class="btn btn-lg btn-info" href="~/Home/User1">房主</a>
    </div>
    <div class="col-sm-2"><br /></div>
    <div class="col-sm-2 text-center">
        <a class="btn btn-lg btn-success" href="~/Home/User2">租户</a>
    </div>
    <div class="col-sm-3"></div>
</div>


<br />
<br />
